{% load i18n admin_urls %}

{% block object-tools-items %}
    {% if exists_products %}
        <li>
            <a href="{% url 'flower:download_catalog' %}" class="addlink" style="padding-right: 12px; background-image: None">
                Сгенерировать каталог
            </a>
        </li>
    {% endif %}
  {% if has_add_permission %}
  <li>
      {% url cl.opts|admin_urlname:'add' as add_url %}
      <a href="{% add_preserved_filters add_url is_popup to_field %}" class="addlink">
          {% blocktranslate with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktranslate %}
      </a>
  </li>
  {% endif %}
{% endblock %}
